h2 {
  color: rgb(10, 134, 128);
  size: 20px;
}

h3 {
  color: rgb(10, 134, 128);
  size: 20px;
}
.navbar-brand {
  border-radius: 50px;
  padding-left: 20px;
  background: rgb(16, 201, 191);
}



body { background-color: rgb(228, 226, 226);
html {
  height: 100%;
}

